<?php /* Template Name: Home */ $tdir = get_bloginfo('template_directory'); get_header(); ?>

section#main
    section#upcoming
        h1 Upcoming Events
        a(href="mailto:info@theymc.com",title="Got an idea?",target="_blank") Got an idea for a talk? Let us know!

script(src="assets/js/app.js")

<?php get_footer(); ?>